body{
    font-size: 1.6rem;
}
.container{
    max-width: 60rem;
    height: 20rem;
    margin: auto;
    justify-content: center;
    
}
h1{
    text-align: center;
    font-size: 3rem;
    color: #F2CC8F;
}
.btn-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

button{
    border: none;
    
    height: 4rem;
    border-radius: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;  
    text-align: center;
    color:#FFFEF5;
    
}

.btn-op:hover {
    cursor:pointer;
    background-color:#355070;
}
.btn-num:hover {
    cursor:pointer;
    background-color:#d88f19;
}
.btn-eq:hover {
    cursor:pointer;
    background-color:#278b5b;
}
.btn-CE:hover {
    cursor:pointer;
    background-color:#eb0f21;
}

.text{
    padding-bottom: 1rem;
}
.btn-eq{
    grid-column: 1/4;
    background-color:#81B29A; 

}
.btn-num{
    background-color:#F2CC8F; 
}
.btn-op{
    background-color: #9CBDE5;
}
.btn-CE{
    background-color:#d64550;
}
textarea{
    width: 57rem;
    height: 3rem;
    padding: 1rem;
    border: 5px solid #CFCFCD; 
    border-radius: 1rem;
    font-size: 3rem;
    text-align: right;
    resize: none;
}